header {
	position: relative;
	height: 60px;
	line-height: 60px;
	background-color: #3498db;
	text-align: center;
	color: white;
}

header button.nav {
	position: absolute;
	left: 0;
	height: 60px;
	width: 60px;
	color: white;
}

header h1 {
	font-weight: normal;
}

nav.nav {
	position: absolute;
	top: 60px;
	left: -80%;
	height: calc(100vh - 60px);
	width: 80%;
	background: white;
	z-index: 10;
	transition: all 0.5s ease-in-out;
	transform: translateX(0);
}

nav.nav.open {
	transition: all 0.5s ease-in-out;
	transform: translateX(100%);
}

nav.nav ul li {
	border-bottom: 1px solid #aaaaaa;
}

nav.nav ul li a{
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #3498db;
}

nav.nav ul li a:hover{
	background-color: #2980b9;
	color: white;
}

section.gmaps {
	height: calc(100vh - 60px);
	position: relative;
}

section.gmaps div#map-canvas {
	height: 100%;
}

section.gmaps button {
	position: absolute;
	right: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #3498db;
	color: white;
}

section.gmaps button.add {
	bottom: 100px;
}

section.gmaps button.geolocation {
	bottom: 20px;
}

i {
	font-size: 2rem;
}