body {
	background-color: #3281B4;
	color: #fff;
}

h1 {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

/*

_________________Navbar

*/

.navbar {
	margin: 0;
}

.navbar-inverse {
	background-color: #3498DB;
	border: none;
}

.navbar-brand {
	padding: 0;
	padding-left: 15px;
}

.navbar-brand .brand_title {
	  position: absolute;
	  top: 14px;
	  left: 63px;
	  color: #fff;
}

.navbar-inverse .navbar-toggle{
  border: none;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-collapse {
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus .icon-bar {
  background-color: #3281B4;
}


/*

_________________Navbar Fin

*/


section.gmaps {
	height: 80vh;
	position: relative;
}

section.gmaps div#map-canvas {
	height: 100%;
}

section.gmaps button {
	position: absolute;
	right: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #3498db;
	color: white;
}

section.gmaps button.add {
	bottom: 25%;
}

section.gmaps button.geolocation {
	bottom: 10%;
}

.map_infos {
	height: 20vh;
	background: #fff;
	color: #3498DB;
}

.map_infos h1 {
	border-bottom: 1px solid #3498DB;
	color: #3498DB;
}

i {
	font-size: 2rem;
}